/*  Neutral Colours  */
/*  Other Colours  */
/*  Theme Colour  */
:root {
  --font-family: "Poppins", Arial, Helvetica, sans-serif;
  --fs-default: 16px;
  --border-radius: 26px;
  --border-radius-child: calc(var(--border-radius) - 10px);
  font-weight: 400;
  font-size: var(--fs-default);
  color: #000000;
  --fs-100: 0.62rem;
  --fs-200: 0.7225rem;
  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.44rem;
  --fs-700: 1.728rem;
  --fs-800: 2.07rem;
  --fs-900: 2.48rem;
}
:root ::-webkit-scrollbar {
  width: 12px;
}
:root ::-webkit-scrollbar-button {
  width: 10px;
}
:root body {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #ffffff;
}
:root nav {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
}
:root img, :root svg {
  width: inherit;
  height: auto;
}
:root main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
:root .text-center {
  text-align: center;
}
:root .intro {
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  :root .intro {
    max-width: 90%;
  }
}
:root .intro h1 {
  margin-bottom: 0;
}
:root .intro p {
  font-size: 14px;
}
:root .form-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.5rem auto;
  padding: 0.5rem;
}
@media (min-width: 1024px) {
  :root .form-container {
    max-width: 100%;
    width: 60%;
  }
}
:root .form-container .form-input {
  background-color: rgba(200, 200, 200, 0.3);
  padding: 10px 12px;
  font-size: var(--fs-default);
  font-weight: 500;
  border: none;
  flex: auto;
  caret-color: #3c3c3c;
  caret-shape: block;
}
:root .form-container .form-input::placeholder, :root .form-container .form-input::-moz-placeholder {
  color: #8c8c8c;
  font-size: 18px;
}
:root .form-container .form-input:active, :root .form-container .form-input:focus {
  border: none;
}
:root .form-container .search-btn {
  min-height: inherit;
  height: auto;
}

* {
  font-family: var(--font-family);
}
* h1 {
  font-size: var(--fs-900);
  margin-block-start: calc(0.45 * var(--fs-900));
  margin-block-end: calc(0.45 * var(--fs-900));
}
* h2 {
  font-size: var(--fs-800);
  margin-block-start: calc(0.45 * var(--fs-800));
  margin-block-end: calc(0.45 * var(--fs-800));
}
* h3 {
  font-size: var(--fs-700);
  margin-block-start: calc(0.45 * var(--fs-700));
  margin-block-end: calc(0.45 * var(--fs-700));
}
* h4 {
  font-size: var(--fs-600);
  margin-block-start: calc(0.45 * var(--fs-600));
  margin-block-end: calc(0.45 * var(--fs-600));
}
* h5 {
  font-size: var(--fs-500);
  margin-block-start: calc(0.45 * var(--fs-500));
  margin-block-end: calc(0.45 * var(--fs-500));
}
* h6 {
  font-size: var(--fs-400);
  margin-block-start: calc(0.45 * var(--fs-400));
  margin-block-end: calc(0.45 * var(--fs-400));
}

.btn {
  background-color: #002FFF;
  color: #ffffff;
  font-size: var(--fs-default);
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
}
.btn:hover {
  transition: all 500ms ease;
  box-shadow: 1px 0px 8px 1px #008cff;
}

.navbar {
  background-color: #000000;
  padding: 12px 0;
}
.navbar .nav-brand {
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.search {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
}
@media (max-width: 1023px) {
  .search {
    padding: 0 1rem;
  }
}

.preview {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.preview .navigation {
  position: relative;
  display: flex;
  max-width: 100%;
  min-width: 20vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: var(--border-radius);
}
.preview .navigation .item-menu {
  display: flex;
  width: 100%;
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}
.preview .navigation .item-menu .option {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 6px;
  margin-right: 6px;
  padding: 5px 16px;
  transform: translateX(0%);
  text-transform: capitalize;
  letter-spacing: 0.25px;
  transition: all 200ms ease-in;
}
@media (max-width: 767px) {
  .preview .navigation .item-menu .option {
    font-size: 14px;
    padding: 5px 12px;
  }
}
.preview .navigation .item-menu .option:hover.active {
  background-color: rgba(0, 140, 255, 0.6);
}
.preview .navigation .item-menu .option:hover .icon {
  background-color: #282828;
}
.preview .navigation .item-menu .option.active {
  background-color: rgba(0, 140, 255, 0.7);
  border-radius: var(--border-radius);
}
.preview .navigation .item-menu .option.active .icon {
  background-color: #282828;
}
.preview .navigation .item-menu .option .icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  padding: 6px;
  border-radius: var(--border-radius);
  margin-right: 0.5rem;
  background-color: #3c3c3c;
}
@media (max-width: 767px) {
  .preview .navigation .item-menu .option .icon {
    width: 1rem;
    height: 1rem;
    margin-right: 6px;
  }
}
.preview .canvas {
  position: relative;
  display: flex;
  max-width: 70vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: all 1s;
}
.preview .canvas img {
  z-index: 5;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.preview .canvas img.desktop-mockup {
  width: 100%;
}
.preview .canvas img.tablet-mockup {
  width: 60%;
}
.preview .canvas img.mobile-mockup {
  width: 60%;
}
.preview .canvas .screen {
  z-index: 1;
  position: absolute;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  transition: all 2s;
}
.preview .canvas .screen .desktop {
  padding-top: 2.7%;
  padding-bottom: 6%;
  padding-left: 11%;
  padding-right: 11%;
  overflow: hidden;
  height: 90%;
  max-height: 90%;
}
.preview .canvas .screen .tablet {
  padding-top: 2.5%;
  padding-bottom: 2%;
  padding-left: 21%;
  padding-right: 21%;
  overflow: hidden;
  height: 95%;
  max-height: 95%;
}
.preview .canvas .screen .mobile {
  padding-top: 2.9%;
  padding-bottom: 5%;
  padding-left: 23%;
  padding-right: 23%;
  overflow: hidden;
  height: 96%;
  max-height: 96%;
}
.preview .canvas .screen .display {
  position: relative;
}
.preview .canvas .screen .display .edges {
  position: relative;
  display: flex;
  background-color: #002FFF;
}
.preview .canvas .screen .display .edges.desktop {
  border-radius: 2px;
}
.preview .canvas .screen .display .edges.tablet {
  border-radius: 6px;
}
.preview .canvas .screen .display .edges.mobile {
  border-radius: 12px;
}
.preview .canvas .screen .display .edges .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top left;
}

/*# sourceMappingURL=index.css.map */
