@use "../custom" as *;
@use "../component/mixins" as *;

.navbar {
  background-color: $black;
  padding: 12px 0;

  .nav-brand {
    width: 6rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.search {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
  @include responsive(mediadown) {
    padding: 0 1rem;
  }
}

.preview {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .navigation {
    position: relative;
    display: flex;
    max-width: 100%;
    min-width: 20vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @include bg-opacity($g-100, 20);
    border-radius: var(--border-radius);

    .item-menu {
      display: flex;
      width: 100%;
      list-style: none;
      margin-block-start: 0px;
      margin-block-end: 0px;
      padding-inline-start: 0px;

      .option {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 auto;
        font-weight: 600;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 6px;
        margin-right: 6px;
        padding: 5px 16px;
        transform: translateX(0%);
        text-transform: capitalize;
        letter-spacing: 0.25px;
        transition: all 200ms ease-in;

        @include responsive(mobile) {
          font-size: 14px;
          padding: 5px 12px;
        }

        &:hover {
          &.active {
            @include bg-opacity($secondary, 60);
          }
          .icon {
            background-color: $g-900;
          }
        }

        &.active {
          @include bg-opacity($secondary, 70);
          border-radius: var(--border-radius);

          .icon {
            background-color: $g-900;
          }
        }

        .icon {
          display: block;
          width: 1.25rem;
          height: 1.25rem;
          padding: 6px;
          border-radius: var(--border-radius);
          margin-right: 0.5rem;
          background-color: $g-800;

          @include responsive(mobile) {
            width: 1rem;
            height: 1rem;
            margin-right: 6px;
          }
        }
      }
    }
  }

  .canvas {
    position: relative;
    display: flex;
    max-width: 70vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    transition: all 1s;
    // background-color: $g-800;

    img {
      z-index: 5;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      pointer-events: none;

      &.desktop-mockup {
        width: 100%;
      }
      &.tablet-mockup {
        width: 60%;
      }
      &.mobile-mockup {
        width: 60%;
      }
    }

    .screen {
      z-index: 1;
      position: absolute;
      height: -webkit-fill-available;
      width: -webkit-fill-available;
      // padding: 3% 11%;

      .desktop {
        padding-top: 2.7%;
        padding-bottom: 6%;
        padding-left: 11%;
        padding-right: 11%;
        overflow: hidden;
        height: 90%;
        max-height: 90%;
      }

      .tablet {
        padding-top: 2.5%;
        padding-bottom: 2%;
        padding-left: 21%;
        padding-right: 21%;
        overflow: hidden;
        height: 95%;
        max-height: 95%;
      }

      .mobile {
        padding-top: 2.9%;
        padding-bottom: 5%;
        padding-left: 23%;
        padding-right: 23%;
        overflow: hidden;
        height: 96%;
        max-height: 96%;
      }

      .display {
        position: relative;

        .edges {
          position: relative;
          display: flex;

          &.desktop {
            border-radius: 2px;
          }

          &.tablet {
            border-radius: 6px;
          }

          &.mobile {
            border-radius: 12px;
          }

          .frame {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-origin: top left;
          }
        }
      }
    }
  }
}

.footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .credit {
        font-size: var(--fs-500);
        font-weight: 500;

        span {
            font-size: var(--fs-600);
        }
        
        .footer-credit {
            color: $primary;

            &:hover {
                transition: all 1s;
                color: $secondary
            }
        }
    }
}